

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main</title>
        <link type="text/css" rel="stylesheet" href="~/Content/Site.css" / >
        <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" / >
</head>
<body>





    <video width="100%" autoplay muted loop id="vid">
        <source src="\data\oris.mp4">
    </video>

    <div class="blurfull">
    </div>

    <div class="navmain"><a class="navtxtmain" href="/Home/MainPage">На главную</a></div>
    <div class="navmain"><a class="navtxtmain" href="/Home/Index">Магазин</a></div>
    <div class="navmain"><a class="navtxtmain" href="/Home/LastPage">О нас</a></div>


</body>
</html>