<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>TEST</title>
    
</head>
<body background="\data\bg.jpg">
    <div>

        <div class="nav">
            <div class="third"><a class="txtnav" href="/Home/MainPage">На главную</a></div>
            <div class="third"><a class="txtnav" href="/Home/Index">Магазин</a></div>
            <div class="third"><a class="txtnav" href="/Home/LastPage">О нас</a></div>
        </div>

        
        @RenderBody()
        
    </div>
</body>
</html>