video 
{
    position: fixed;   //закрепляем видео на фоне
    bottom: 0;         //заполняем пространство внизу и справа                  
    right: 0;
}

.nav
{
    //здесь будет селектор для класса nav
}

.desc
{
    //здесь будет селектор для класса desc
}

.preimush
{
    //здесь будет селектор для класса preimush
}

.feedback
{
    //здесь будет селектор для класса feedback
}

.contacts
{
    //здесь будет селектор для класса contacts
}
